@font-face {
  font-family: "Young Serif", serif;
  src: url(assets/fonts/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: "Outfit", sans-serif;
  src: url(assets/fonts/Outfit-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3e5d8;
}

section {
  background-color: #fff;
  padding: 40px;
  margin: 50px 0;
  border-radius: 20px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 30px;
}

h1 {
  font-size: 30px;
  font-family: "Young Serif", serif;
  margin-bottom: 20px;
}

.preparation-time {
    background-color: #FFF7FC;
    padding: 30px;
    margin: 20px 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.preparation-time h3 {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    color: brown;
}

.preparation-time ul {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}